{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css'  %}">

</head>
<body>
    
         <div class="head">
             <div><img id="logo" src="{% static 'images/logo.jpg' %}" alt="logo" width="175px" height="60px"></div>
             <div><h4 class="names">Programs</h4></div>
             <div><h4 class="names">Placement</h4></div>
             <div><h4 class="names">About Us</h4></div>
             <div><h4 class="names">Blog</h4></div>
             <div><h4 class="names">Gallery</h4></div>
             <div> <input type="button" class="enquire-btn" name="" id="" value="Enquire Now"></div>
         </div>
     
 
      <div class="first">
          <div class="two"> <h5 id="learn">LEARN SOFTWARE....</h5> 
               <h3 id="getting">Getting a Software Job is So Easy <br> Now with our IT Internship <br> Programs.</h3>
               <p id="programming">Learn programming from Kerala's most trusted software <br> training company with the highest placement record. <br> Enroll in software courses and internship programs in <br> Python, Flutter, Angular, React and PHP to start your <br> career.</p>
               <img id="course" src="{% static 'images/course.jpg' %}" alt="" width="170px" height="55px">
            </div>
          <div class="two"><img src="{% static 'images/class.jpg' %}" alt=""></div>
      </div>
  <section id="space">
      <div><h5 id="expertise">EXPERTISE IN EDUCATION</h5>
           <h3 id="ed">Ed-tech company with 12 Years of industry leadership in training and <br>
             placements, holding highest number of placement track in Malabar.</h3>  
           <img id="python" src="{% static 'images/python.jpg' %}" alt="">
        
    </div>
 </section>
      <div class="second">
          <div><img src="{% static 'images/explore.jpg' %}" alt=""></div>
          <div>
            <p id="int">EXPLORE OUR INTERNSHIP PROGRAMME</p>
            <h2 id="lea">Learn new skills to go ahead of your career</h2>
            <h2 class="explore">Join Us</h2>
            <P class="details">It doesn’t matter how talented you are. Join specialized job oriented <br> software courses & training programs and just learn the in-demand skills <br> to be a better programmer.</P>
            <h2 class="explore">Get Skilled for Job</h2>
            <p class="details">Get trained and skilled under the guidance of expert software engineers <br> and be ready for the jobs.</p>
            <h2 class="explore">Get Hired</h2>
            <p class="details">Showcase your profile with skills acquired and get hired by your dream <br> company.</p>
            <img src="{% static 'images/know.jpg' %}" alt="">
        </div>
      </div>
 
     <div class="talent">
         <div id="price">
          <img src="{% static 'images/1.jpg' %}" alt="">
          <h2 class="show">CS Talent Show</h2>
              <p class="digital">CS talent show, a live event hosted by the student community through their social media channels to showcase the projects done by students. Our instructors will monitor the students’ projects and provide guidance.</p>
        </div>
         <div id="coffee">
          <img src="{% static 'images/2.jpg' %}" alt="">
          <h2 class="show">Coffee with HR</h2>
              <p class="digital">MNC HR representatives will visit Baabtra students to present their company, job opportunities, And job nature. Students will learn about the companies and have the chance to apply for jobs.</p>
        </div>
         <div id="web">
          <img src="{% static 'images/3.jpg' %}" alt="">
          <h2 class="show">Digital Fest</h2>
              <p class="digital">Digital fest for baabtra students is a platform for students to showcase their software application development skills to companies for securing a job.</p>
        </div>
     </div>
    <div id="bg">
      <div class="success">
        <div><h3 id="stories">THE SUCCESS STORIES</h3>
             <h1 id="candidate">Placed Candidates</h1>
        </div>
        <div> 
             <img id="placement" src="{% static 'images/placement.jpg' %}" alt="">
        </div>
      </div>
      <div class="students">
        <div><img src="{% static 'images/anupama.jpg' %}" alt=""></div>
        <div><img src="{% static 'images/athira.jpg' %}" alt=""></div>
        <div><img src="{% static 'images/athira2.jpg' %}" alt=""></div>
        <div><img src="{% static 'images/athul.jpg' %}" alt=""></div>
      </div>
    </div>
     <div class="red">
        <div style="color: white;">
          <img class="happy" src="{% static 'images/hiring.jpg' %}" alt="">
          <h1 class="plus">20+</h1>
             <p class="min">Hiring Partners</p>
        </div>
        <div class="happy" style="color: white;">
          <img src="{% static 'images/cirtifide.jpg' %}" alt="">
          <h1 class="plus">8</h1>
             <p style="font-size: 20px;">Certified Courses</p>
        </div>
        <div class="happy" style="color: white;">
          <img src="{% static 'images/Happy.jpg' %}" alt="">
          <h1 class="plus">100+</h1>
             <p style="font-size: 20px;">Happy Students</p>
        </div>
        <div class="happy" style="color: white;">
          <img src="{% static 'images/bag.jpg' %}" alt="">
          <h1 class="plus">100+</h1>
             <p style="font-size: 20px;">Placements</p>
        </div>
     </div>
       <div>
          <p id="pr">HIRING PARTNERS</p>
          <h1 id="or">Organizations Our Students are <br> Placed at</h1>
          <img id="org" src="{% static 'images/organistion.jpg' %}" alt="">
      </div>
     <div>
        <h6 id="hig">HIGHEST HONOURS</h6>
        <h2 id="acc">Accreditation</h2>
        <p id="baa">Baabtra is the skill development division of an IT Company Baabte System Technologies Pvt Ltd, headquartered in London UK, which is a member of NASSCOM (National Association of Software Service Companies), GTECH (Group of Technology Companies) and CAFIT (Calicut Forum for IT) having different software products in education domain. As part of the college curriculum many student groups are choosing baabtra.com as their platform for industrial visit. This is really helping college students to understand the working environment in an IT company and they can experience new technologies and trends in this field.</p>
        <img id="accr" src="{% static 'images/accr.jpg' %}" alt="">
      </div>
<footer>
       <div class="foot">
          <div id="best"><h2 class="white">About Us</h2>
               <p id="the">Baabtra, the best software training company in Calicut has proved its expertise by training and placing several hundreds of students both in MNC’s like UST Global, Infosys, Oracle etc and SME’s like Nucore Software Solutions, Sesame, IOSS, ULTS.</p>
                 <img src="{% static 'images/socialmedia.jpg' %}" alt="" width="150px" height="50px">
              </div>
          <div><h2 class="white">Company</h2>
                <ul class="list">
               <li>About Us</li>
               <li>Placement</li>
               <li>Testimonials</li>
               <li>Gallery</li>
               <li>contact Us</li>
               <ul>
          </div>
          <div><h2 class="white">Courses</h2>
               <ul class="list">
               <li>Python</li>
               <li>Flutter</li>
               <li>Angulat</li>
               <li>PHP</li>
               <li>React</li>
              </ul>
          </div>
          <div style="color: rgb(245, 14, 14);">
               <h2 class="white">Contact</h2>
                <div class="cont">
                   <div><img src="{% static 'images/hear.jpg' %}" alt="" width="40px" height="40px"></div>
                   <div>+91 859 205 8444</div>
                </div>
                <div class="cont">
                    <div><img src="{% static 'images/mail.jpg' %}" alt=""  width="40px" height="40px"></div>
                    <div>info@baabtra.com</div>
                </div>
                <div class="cont">
                    <div><img src="{% static 'images/location.jpg' %}" alt=""  width="40px" height="40px"></div>
                    <div> CAFIT Square, 5th Floor, <br> HiLite Business Park, <br> Thondayad Bye-Pass, Hilite City, Calicut, <br> Kerala, India.</div>
                </div>
               
              
          </div>
       </div>
 </footer>
    
</body>
</html>